<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-6">
      <h>マイページ</h1>
      <p>登録情報</p><!--%= link_to "編集する", edit_customers_path(@customer) %-->
      <!--<% @customer.each do |custimer| %>-->
      <!--  <%= cutomer.first_name %>-->
      <!--  <%= cutomer.last_name %>-->
      <!--  <%= cutomer.first_name_kana %>-->
      <!--  <%= cutomer.last_name_kana %>-->
      <!--  <%= cutomer.zip_code %>-->
      <!--  <%= cutomer.address %>-->
      <!--  <%= cutomer.phone_number %>-->
      <!--<% end %>-->
    </div>