<div class="container">
  <div class="row">
    <div class="col-md-2">
      <p>ジャンル検索欄</p>
      <!--%= render ジャンル検索 %-->
    </div>
    <div class="col-md-10">
      <div class="text-center">
        <img src="/assets/no_image.jpg" style="width: 700px; height: 450px;">
        <div class="card-img-overlay text-center" >
          <div class="card-body bg-light">
            <p>ようこそ、ながのCAKEへ！<br>
               このサイトは、ケーキ販売のECサイトになります。<br>
               会員ではない方も商品の閲覧はできますが、<br>
               購入には会員登録が必要になります。
            </p>
          </div>
        </div>
      </div>
      <div>
        <h2 class="text-left">新着商品</h2>
        <div class="card-deck">
          <% @active_items.each do |item| %>
          <div class="col-md-3">
            <div class="card mt-2">
              <%=link_to item_path(item) do %>
                <%= image_tag item.get_image, size:"175x150" %>
              <% end %>
              <div class="card-body">
                <h6 class="card-title"><%= item.name %></h6>
                <p class="card-text">¥<%= item.price %>円</p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <p class="text-right"><%= link_to "全ての商品を見る>",items_path %></p>
</div>