<div class= "container">
  <div class= "row">
    <div class= "col-lg-1"></div>
    <div class= "col-lg-4">
      <h3 class= "bg-light"><%= @customer.last_name %><%= @customer.first_name %>の会員情報編集</h3>
    </div>
  </div>
  <div class="row">
    <div class= "col-lg-1"></div>
    <div class= "col-lg-11">
      <%= form_with model: @customer,url:admin_customer_path(@customer.id) do |f| %>
      <table class= "table-borderless">
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= f.text_field :last_name_kana %>
              <%= f.text_field :first_name_kana %>
          </td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= f.text_field :zip_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text.field :address,size: 60 %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= f.text_field :phone_number %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td>
            <%= f.radio_button :is_active, :true %>
            <%= f.label :is_active, "有効" %>
          
            <%= f.radio_button :is_active, :false %>
            <%= f.label :is_active, "退会" %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "変更を保存", class: "btn btn-success" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>