<div class='container m-4'>
  <div class='row'>
    <div class='col-xl-3 offset-xl-1'>
      <h4 class='text-center bg-light'>ジャンル一覧・追加</h4>
    </div>
  </div>

  <div class='row'>
    <div class='col-xl-12 mt-5'>

      <%= form_with model: @genre, url: admin_genres_path, local: true do |f| %>

      <table>
        <tr>
          <th class='col-xl-3'><%= f.label :name,'ジャンル名' %></th>
          <th class='col-xl-6'><%= f.text_field :name, :placeholder=>'ジャンル名' %></th>
          <th class='col-xl-3'><%= f.submit '新規登録',class: 'btn btn-success' %></th>
        </tr>
      </table>


      <% end %>

    </div>
  </div>

  <div class='row'>
    <div class='col-xl-4 mt-5'>
      <table>
        <thead>
          <tr>
            <th>ジャンル名</th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td><%= link_to '編集する',edit_admin_genre_path(genre),class: "btn btn-success" %></td>
            </tr>
        </tbody>



      </table>
    </div>
  </div>

</div>