<div class="container">

  <div class="row">
    <h3 class="col-3 bg-light text-center">注文情報確認</h3>
  </div>

    <div class="row">
      <div class="col-8">
        <table class="table table-bordered">
          <thead class="thead-light">
            <th class="col-4">商品名</th>
            <th class="col-2">単価（税込み）</th>
            <th class="col-2">数量</th>
            <th class="col-2">小計</th>
          </thead>
          <tbody>
            <%= form_with model: @order, url: orders_path, method: :post, local: true, class: "needs-validation", novalidate: true do |f| %>
              <% @total = 0 %>
              <% @cart_items.each do |cart_item| %>
                <tr>
                  <td><%= cart_item.item.name %></td>
                  <% @total += cart_item.subtotal %>
                  <td class="text-right"><%= number_with_delimiter(cart_item.item.with_tax_price) %></td>
                  <td class="text-right"><%= cart_item.quantity %></td>
                  <td class="text-right"><%= cart_item.subtotal.to_s(:delimited) %></td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
      <div class="col-3">
        <table class="table table-bordered">
          <tr>
            <td colspan="3" class="text-right">送料</td>
            <td class="text-right"><%= f.hidden_field :shipping_fee, value: 800 %>￥800</td>
          </tr>
          <tr>
            <td colspan="3" class="text-right">合計金額</td>
            <td class="text-right"><%= @total.to_s(:delimited) %></td>
          </tr>
          <tr>
            <td colspan="3" class="text-right">請求金額</td>
            <td class="text-right">￥<%= f.hidden_field :billing_amont, value: (@total + 800) %><%= (@total + 800).to_s(:delimited) %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>


    <div class="row">
      <div class="col-5">
        <table class="table table-borderless">
          <tr>
            <th class="col-3">支払い方法</th>
            <td><%= Order.payment_methods_i18n[@order.payment_method] %></td>
          </tr>
          </br>
          <tr>
            <th class="col-3">お届け先</th>
            <td>
              <% if @order.zip_code && @order.address %>
                〒<%= @order.zip_code + @order.address %><br>
              <% end %>
              <%= @order.name %>
            </td>
          </tr>
        </table>
      </div>
    </div>

  <div class="row">
    <div class=" col-9 form-group text-center">
      <%= form_with model: @order,local:true do |f| %>
          <%= f.hidden_field :customer_id, :value => current_customer.id %>
          <%= f.hidden_field :total_price, :value => @total_price.to_i %>
          <%= f.hidden_field :zip_code, :value => @order.zip_code %>
          <%= f.hidden_field :address, :value => @order.address %>
          <%= f.hidden_field :name, :value => @order.name%>
          <%= f.hidden_field :payment_method, :value => @order.payment_method %>
          <%= f.submit '注文を確定する', class:'btn btn-success',"data-confirm"=>"注文を確定しますか？" %>
      <% end %>
    </div>
  </div>

</div>