<div class="container">

  <div class="row">
    <div class="col-xl-2">
    <h4>ログイン</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-3 text-right"><p>会員の方はこちらからログイン</p></div>
  </div>


<%= form_with model: @customer,url: customer_session_path do |f| %>
  <div class="row">
    <div class="col-xl-4 text-center"><%= f.label :email,"メールアドレス" %></div>
    <div class="col-xl-8"><%= f.email_field :email, autofocus: true,size: 50, autocomplete: "email",placeholder: "example@mail.com" %></div>
  </div>


  <div class="row">
    <div class="col-xl-4 text-center"><%= f.label :password,"パスワード" %></div>
    <div class="col-xl-8"><%= f.password_field :password,size: 50, autocomplete: "current-password" %></div>
  </div>

  <div class="row">
    <div class="mx-auto col-xl-4">
    <%= f.submit "ログイン",class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
</div>

  <div class="row">
    <div class="col-xl-3 text-right">
      <p>会員登録がお済みでない方</p>
    </div>
  </div>


  <div class="row">
    <div class="mx-auto col-xl-7">
      <p><%= render "public/shared/links" %>から新規登録を行ってください。</p>
    </div>
  </div>


</div>