<div class="container">
 <div class= "row">
   <div class="col-lg-2"></div>
    <h3 class="bg-light">ログイン</h3>
 </div>
 <div class="row">
   <div class="col-lg-2"></div>
   <h6 class="bg-light">会員の方はこちらからログイン</h6>
 </div>
 <div class="row">
   <div class="col-lg-6"></div>
     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="table table-borderless">
        <tr>
          <td>メールアドレス</td>
          <td><%= f.email_field :email, autofocus: true,size:50, autocomplete: "email",placeholder:"example@mail.com" %></td>
        </tr>
        <tr>
          <td>パスワード</td>
          <td> <%= f.password_field :password,size:50, autocomplete: "current-password" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "ログイン",class:"btn btn-primary" %></td>
        </tr>
      </table>
     <% end %>
   </div>
  <table class="table table-borderless">
     <tr>
      <td class= "col-lg-2"></td>
      <td class="col-lg-3">
       <h6 class="bg-light">会員登録がお済みでない方</h6>
      </td>
      <td class= "col-lg-8"></td>
     </tr>
     <tr>
      <td></td>
      <td><%= render "public/shared/links" %>から新規登録を行ってください</td>
      <td></td>
     </tr>
    </table>
</div>